body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f2eadf;
}

.biblioSmart {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fae5cf;
  border-bottom: 2px solid #9d847c;
  border-top: 2px solid #9d847c;
  box-shadow: #9d847c;
}

.logo {
  margin: 0;
  color: #023059;
}

.links {
  margin-left: 300px;
  display: flex;
  list-style: none;
  margin-top: 15px;
}

.links li {
  margin-left: 20px;
  cursor: pointer;
  color: #023059;
}

.links li.active {
  font-weight: bold;
  color: #d94814;
}
.navbar img {
  width: 40px;
}
.search-section {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.search-section h2 {
  margin-bottom: 20px;
}
.quick-actions {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  margin-left: 120px;
}
.quick-actions .action {
  background-color: #fae5cf;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(22, 22, 22, 0.877);
}
.action img {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-left: 10px;
}
.quick-actions button {
  margin-top: 20px;
  background-color: transparent;
  color: #023059;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.quick-actions button:hover {
  color: #d94814;
}
.nouveautes {
  margin-bottom: 40px;
}

.couverture {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.livre img {
  width: 290px;
  height: 370px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.events ul {
  display: flex;
  gap: 40px;
}
.event-card {
  display: flex;
  height: 120px;
  width: 550px;
  background-color: white;
  border: 1px solid #d94814;
  border-radius: 10px;
}
.event-card img {
  margin-top: 20px;
  margin-left: 20px;
  width: 70px;
  height: 70px;
}
.event-card li {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 40px;
  list-style: none;
}
.footer-dashboard {
  background-color: #fbedde;
  padding: 30px 20px;
}
.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.biblio h3 {
  color: #023059;
}
.biblio .paragraph {
  margin-top: 0;
  color: #827f7f;
}
.social {
  display: flex;
  gap: 50px;
}
.social img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}
.biblio p {
  margin-top: 30px;
  color: #023059;
}
.links ul {
  display: flex;
  margin-top: 0%;
  list-style: none;
  justify-content: space-between;
}

.links li {
  cursor: pointer;
  font-weight: bold;
}

.links li:hover {
  text-decoration: underline;
}
.dash-contact {
  display: flex;
  gap: 30px;
  margin-left: 350px;
  font-size: small;
  width: 100px;
  height: 100px;
}
