body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f2eadf;
}
.events-content h3 {
  margin-left: 20px;
  width: 1000px;
  color: #023373;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.event-card {
  background-color: #fff;
  border: 1px solid #f06529;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.event-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  margin-left: 0px;
}

.event-card p {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #0d47a1;
  margin-bottom: 10px;
}

.event-card p::before {
  content: "📅";
  margin-right: 8px;
  font-size: 18px;
}

.see-more-link {
  align-self: flex-start;
  color: #f06529;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  margin-top: 10px;
}

.see-more-link:hover {
  text-decoration: underline;
}

.simple-footer {
  display: flex;
  justify-content: space-between;
}
.simple-footer .left-side p {
  margin-left: 30px;
  margin-top: 30px;
  color: #023059;
}
.simple-footer .right-side {
  margin-right: 30px;
  margin-top: 10px;
}
.simple-footer .right-side ul {
  list-style: none;
  font-weight: bold;
  display: flex;
  gap: 30px;
  color: #023373;
}
